main > p {
    text-align:center;
}
main >  p:nth-of-type(2) {
    font-style:italic;
}
main p span {
    color:#950000;
    font-weight:bold;
    display:inline-block;
    border-bottom:1px dotted #950000;
    /*text-decoration:underline dotted;*/
}


/***FORMULAIRE***/
form {
    background-color: #ebe3db;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-areas:
    "reservation details"
    "request request"
    "submit submit";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:1em 2em;
}
fieldset {
    border:none;
}
fieldset h3 {
    text-align:left;
}
fieldset h3::before, fieldset h3::after {
    content:"";
}
.reservation h3, .details h3 {
    margin-top:0;
}
fieldset label {
    display:block;
    margin-top:1em;
}
fieldset input {
    width:100%;
    height: 2.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reservation label, .details label:nth-of-type(odd) {
    position:relative;
    right:.5em;
}
.reservation label::before, .details label:nth-of-type(odd)::before {
    content:"*";
    color:#950000;
    font-weight:bold;
    display:inline-block;
    border-bottom:1px dotted #950000;
    position:relative;
    right:.3em;
}
.reservation {
    grid-area:reservation;
}
.details {
    grid-area:details;
}
.request {
    grid-area:request;
}
textarea {
    width:100%;
    height:8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form button {
    grid-area:submit;
    font-size:1.6rem;
    background-color: #4c4343;
    color:white;
    border-radius:5px;
    border:1px solid #4c4343;
    width:50%;
    margin:1em auto;
    padding:.6em;
}