/***LOADER 1***/
.red {
    width:60px;
    height:60px;
    background-color: red;
    margin:5em auto;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
div[class*="barre"] {
    background-color: #fff;
    width:10px;
    height:30px;
}
.barre-1 {
    animation: Bars 1s infinite;
    animation-delay:0s;
}
.barre-2 {
    animation: Bars 1s infinite;
    animation-delay:0.2s;
}
.barre-3 {
    animation: Bars 1s infinite;
    animation-delay:0.4s;
}

@keyframes Bars {
    from {
        transform:scaleY(1.5);
    }
    to {
        transform:scaleY(1);
    }
}

/***LOADER 2***/
.loader-2 {
    padding:5em;
}
div[class*="circle"] {
    width:50px;
    height:50px;
    border-radius:50%;
    margin:0 auto;
    transform-origin: 40% 40%;
    animation-timing-function:linear;
}
.circle-1 {
    border:2px solid blue;
}
.circle-2 {
    border:2px solid yellow;
    position:relative;
    bottom:55px;
    right:10px;
    animation: Circle 1s infinite;
}
.circle-3 {
    border:2px solid red;
    position:relative;
    bottom:100px;
    left:5px;
    animation: Circle 1s infinite;
    animation-delay:0.1s;
}
@keyframes Circle {
    0% {
        transform:rotate(0);
    }
    25% {
        transform:rotate(90deg);
    }
    50% {
        transform:rotate(180deg);
    }
    75% {
        transform:rotate(270deg);
    }
    100% {
        transform:rotate(360deg);
    }
}